<header class="welcome-banner" id="home-banner">
  <div class="welcome-banner-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">每个人都能成为导游</h1>
          <h3 class="brand-subheading">Paris tour</h3>
          <a class="btn btn-circle" href="#featured-guides">
            <i class="fa fa-angle-double-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="section content-section" id="featured-guides">

  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h1>
          东山妓，最懂你的感觉</h1>
        <p>
          让你不枉此行
        </p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-img"><%= image_tag "avatar/example-user-1.jpg", class: "btn-circle" %></div>
          <div class="card-title">西山妓</div>
          <div class="card-subtitle">
            <span class="follows">Follow 147</span> <br>
            <span class="trip">trip 6</span>
          </div>
          <div class="card-city"><i class="fa fa-map-maker"></i>Paris, France</div>
          <div class="card-desc">
            <span>热爱生活，享受巴黎每个充满了阳光的午后。看不够的巴黎爱情故事，配上一杯香醇的咖啡，你觉得美吗？</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-img"><%= image_tag "avatar/example-user-2.jpg", class: "btn-circle" %></div>
          <div class="card-title">北山妓</div>
          <div class="card-subtitle">
            <span class="follows">Follow 547</span> <br>
            <span class="trip">trip 126</span>
          </div>
          <div class="card-city"><i class="fa fa-map-maker"></i>Paris, France</div>
          <div class="card-desc">
            <span>热爱生活，享受巴黎每个充满了阳光的午后。看不够的巴黎爱情故事，配上一杯香醇的咖啡，你觉得美吗？</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-img"><%= image_tag "avatar/example-user-3.jpg", class: "btn-circle" %></div>
          <div class="card-title">南山妓</div>
          <div class="card-subtitle">
            <span class="follows">Follow 1247</span> <br>
            <span class="trip">trip 611</span>
          </div>
          <div class="card-city"><i class="fa fa-map-maker"></i>Paris, France</div>
          <div class="card-desc">
            <span>热爱生活，享受巴黎每个充满了阳光的午后。看不够的巴黎爱情故事，配上一杯香醇的咖啡，你觉得美吗？</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-img"><%= image_tag "avatar/example-user-4.jpg", class: "btn-circle" %></div>
          <div class="card-title">东山妓</div>
          <div class="card-subtitle">
            <span class="follows">Follow 433</span> <br>
            <span class="trip">trip 63</span>
          </div>
          <div class="card-city"><i class="fa fa-map-maker"></i>Marseille, France</div>
          <div class="card-desc">
            <span>热爱生活，享受巴黎每个充满了阳光的午后。看不够的巴黎爱情故事，配上一杯香醇的咖啡，你觉得美吗？</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="welcome-banner" id="featured-activities">
  <div class="welcome-banner-body">
    <div class="activity-desc">
      <div class="activity-title">巴黎音乐嘉年华</div>
      <div class="activity-date">6.24-7.1</div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">当地活动，一个都不落</h1>
          <h3 class="brand-subheading">Let's rock!</h3>
        </div>
      </div>
    </div>
  </div>

</div>
