<header class="welcome-banner" id="home-banner">
  <div class="welcome-banner-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Everyone could be a super guide!</h1>
          <h3 class="brand-subheading">Show people your action</h3>
          <a class="btn btn-circle" href="#featured-guides">
            <i class="fa fa-angle-double-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="section content-section" id="featured-guides">

  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h1>
          Super Guide, who knows your feeling</h1>
        <p>
          Every moment is beautiful and worth remembering
        </p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-img"><%= image_tag "avatar/example-user-1.jpg", class: "btn-circle" %></div>
          <div class="card-title">Sophie</div>
          <div class="card-subtitle">
            <span class="follows">Follow 147</span> <br>
            <span class="trip">trip 6</span>
          </div>
          <div class="card-city"><i class="fa fa-map-maker"></i>Paris, France</div>
          <div class="card-desc">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi, dolor vitae est ad aliquam quibusdam dicta necessitatibus quas sed a vero! Similique harum, maxime corporis enim temporibus alias assumenda.</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-img"><%= image_tag "avatar/example-user-2.jpg", class: "btn-circle" %></div>
          <div class="card-title">Anne</div>
          <div class="card-subtitle">
            <span class="follows">Follow 547</span> <br>
            <span class="trip">trip 126</span>
          </div>
          <div class="card-city"><i class="fa fa-map-maker"></i>Paris, France</div>
          <div class="card-desc">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia laborum repudiandae maxime quidem hic deleniti, ullam quod quia pariatur! Ad, illum commodi culpa. Harum eos cum facere, consequuntur atque nulla?</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-img"><%= image_tag "avatar/example-user-3.jpg", class: "btn-circle" %></div>
          <div class="card-title">Scarlet</div>
          <div class="card-subtitle">
            <span class="follows">Follow 1247</span> <br>
            <span class="trip">trip 611</span>
          </div>
          <div class="card-city"><i class="fa fa-map-maker"></i>Paris, France</div>
          <div class="card-desc">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis eveniet autem, tempora, nobis quas cum atque ipsa. Veritatis repellat, suscipit, officia corporis debitis consectetur doloribus reprehenderit quisquam!</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-img"><%= image_tag "avatar/example-user-4.jpg", class: "btn-circle" %></div>
          <div class="card-title">Kevin</div>
          <div class="card-subtitle">
            <span class="follows">Follow 433</span> <br>
            <span class="trip">trip 63</span>
          </div>
          <div class="card-city"><i class="fa fa-map-maker"></i>Marseille, France</div>
          <div class="card-desc">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi rem, veritatis laudantium! Voluptate quidem tempora pariatur aspernatur aut sed alias neque, iste necessitatibus eum debitis magni vel cumque, obcaecati ea.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="welcome-banner" id="featured-activities">
  <div class="welcome-banner-body">
    <div class="activity-desc">
      <div class="activity-title">Paris Musical Festival</div>
      <div class="activity-date">6.24-7.1</div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Never miss a single event</h1>
          <h3 class="brand-subheading">Let's rock!</h3>
        </div>
      </div>
    </div>
  </div>

</div>
